@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&family=Open+Sans&display=swap");

* ::before ::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.main {
  padding: 40px;
  display: flex;
}

.main__section {
  padding: 10px;
}
.section__title {
  font-size: 5rem;
}

.section__subtitle {
  font-size: 1.5rem;
}

.category-list {
  list-style: none;
}
.category-list__item {
  padding: 10px;
}
.category__link {
  padding: 10px;
}

.category__image {
  padding: 10px;
}

.category {
  padding: 10px;
}
