@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&family=Open+Sans&display=swap");

* ::before ::after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}

button {
  font: inherit;
}
